@font-face {
    font-family: 'JHSXGO+Gotham-Book';
    src: url('JHSXGOGotham-Book.eot');
    src: url('JHSXGOGotham-Book.eot?#iefix') format('embedded-opentype'),
        url('JHSXGOGotham-Book.woff') format('woff'),
        url('JHSXGOGotham-Book.ttf') format('truetype'),
        url('JHSXGOGotham-Book.svg#JHSXGO+Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

