.navbar-topheader{
    height: 1em;
    width: 100%;
    background-color: #A09A84;
   
}

.navbar {
    background-color: #142A37!important;  
   
}
.navbar-brand img{
    height: 30px;
    height: 70px;
}

.navbar-nav{
    position: absolute;
    bottom: 0;
}
.nav-item{
    padding-right: 1.2em;
    padding-left: 1.2em;
}

.nav-item:hover{
    border-bottom: 2px solid orange;
}

.nav-link{
    font-size: 1.5em;
    color: #C8D1C1!important;
    padding-bottom: 1em;
    text-align: center;
}

.highlight{
    background-color: #BDC2CE;
    
}
.highlight-item{
    color: #504F4F;
    font-weight: 700;
    margin: 2em;
    
}
.highlight-item .row{
    margin: 0;
}



.highlight-item img{
    height: 400px;
    width: 100%;
    padding-bottom:1em;
}

.highlight-item-details{
    border-top: 1.5px solid #8B8B94;
}

.highlight-item-details-left{
    padding-left:0;
    padding-top:1em;
}
 .ticker-item{
    background-image: url('img/ticketbgpink.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}

.ticker-value{
    color: white;
    font-weight: 700;
    font-size: 1.3em;
}

.ticker-category{
    color: #F7AAA2;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 1.3em;
}