@font-face {
  font-family: Aileron;
  src: url("css/fonts/aileron/Aileron-Regular.otf");
}

@font-face {
  font-family: Aileron-Bold;
  src: url("css/fonts/aileron/Aileron-Bold.otf");
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0 !important
}

body {
  -ms-overflow-style: none;
}

.canvas {
  max-width: 1000px;
  margin: 10px auto;
  padding: 75px;
  padding-top: 20px;
  font-family: Aileron;
  background-color: #ffffff;
}

.logo {
  float: left;
  font-size: 3.5vw;
  font-weight: 600;
  font-family: Aileron;
}

.logo a {
  color: black;
  text-decoration: none;
  font-family: Aileron;
}

.topNav {
  float: right;
  padding-top: 40px;
}

.topNav ul {
  font-size: 1vw;
}

.topNav ul li {
  font-size: 1vw;

  text-decoration: none;
}

.topNav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

header {
  position: relative;
  min-height: 10vh;
}

.portfolio-item {
  padding: 10px;
  text-align: center;
}

.portfolio-item-img {}

.portfolio-item-title {
  margin: auto;
}

.about {
  padding-top: 20px;
}

.contact-icons {
  color: black;
  text-decoration: none;
}

.contact-icons:hover {
  color: black;
  text-decoration: none;
}

.contact-form {
  padding-top: 30px;
}

.arrowdown {
  padding-top: 10px;
  text-decoration: none;
  color: black;
}
.arrowdown:hover {
  
  color: black;
}

.divider {
  margin-top: 40px;
}